@model CheeseMVC.ViewModels.AddMenuViewModel

<div class="cheese">
    <h1>@ViewBag.Title</h1>
    <span class="error"><h6>@ViewBag.Error</h6></span>
</div>

<form class="cheese" asp-controller="Menu" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <input class="add-button" type="submit" value="Add Menu" />
</form>