@model CheeseMVC.ViewModels.ViewMenuViewModel

<div class="cheese">
    <h1>@ViewBag.Title</h1>
    <span class="error"><h6>@ViewBag.Error</h6></span>
</div>

<table class="cheese">

    <tr>
        <th>Name</th>
    </tr>

    @foreach (var anItem in Model.Items)
    {
        <tr>
            <td>@anItem.Cheese.Name</td>
        </tr>
    }
</table>

<p class="cheese"><strong><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></strong></p>
